h1{
    color:White;
    text-align: center;
    background-color: black;
}
h2{
    color:mediumspringgreen;
    text-align: center;
    background-color: mediumseagreen;
}

table{
    background-color:greenyellow;
}

body{
    background-image: url(../images/4363b1fb99ef9b8723ffcadf1147dbe3.png);
    
}